<%= render 'waterscapes/waterscapes', waterscapes: @waterscapes %>
<div class="p-1 pt-3">
    <%= link_to '新規投稿' , new_waterscape_path, class: "btn btn-primary" %>
    <%= link_to 'ユーザ一覧', users_url, class: "btn btn-primary" %>
</div>