<div class="text-center">
    <h1>Welcome to the Suikei</h1>
    <ul>
        <% @waterscapes.each do |waterscape| %>
            <li>
                <div><%= waterscape.id%></div>
                <div><%= link_to image_tag(waterscape.image.url, size: '70x70',alt:'水景画像'), waterscape %></div>
            </li>
        <% end %>
    </ul>
    
    <%= link_to '新規投稿' , new_waterscape_path, class: "btn btn-primary" %>
    <%= link_to 'ユーザ一覧', users_url, class: "btn btn-primary" %>
</div>