<div class="text-center">
    <h1>新規投稿</h1>
</div>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= form_with(model: @waterscape, local:true) do |f| %>
            <div class="form-group">
                <%= f.label :image,'Image' %>
                <%= f.file_field :image, class: 'form-control' %>
            </div>
            <%= f.submit '投稿',class: 'btn btn-block btn-primary' %>
        <% end %>
    </div>
</div>
